@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>
    Blockchain can be effectively used to publish data. The main advantages of using blockchain for publishing data is that it cannot be modified thereby guaranteeing authenticity of data forever.

    Pharmaceuticals are publishing clinical trial data (e.g. <a href="https://www.novartisclinicaltrials.com/TrialConnectWeb/home.nov">Novartis</a>). We expect this to increase in future. Inspiration for Blockchain for open data is from <a href="https://gdstechnology.blog.gov.uk/2015/10/13/guaranteeing-the-integrity-of-a-register/">Guaranteeing the integrity of a register</a>.
</p>
