@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Cognizant LS SAT Team
</address>

<address>
    <strong>Primary Contact:</strong> <a href="mailto:chiranjib.chowdhury@cognizant.com">Chiranjib Chowdhury</a><br />
    <strong>Support:</strong>
    <p>
        <a href="mailto:Raghuraman.Krishnamurthy2@cognizant.com">Raghuraman Krishnamurthy</a><br />
        <a href="mailto:Rakesh.Jain4@cognizant.com">Rakesh Jain</a><br />
    </p>
</address>