@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinical Trial Register</h1>
    <p class="lead">A Clinical Trial Register Application Powered by Blockchain</p>
    <p><a href="https://en.wikipedia.org/wiki/Clinical_trial" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Clinical Study Results</h2>
        <p>
            Summary results of interventional clinical trial results data repository.
        </p>
        <!--<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>-->
    </div>
    <div class="col-md-4">
        <h2>Ongoing Trials</h2>
        <p>Sponsored trials on various diseases and their intermediary results.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Patient-level data</h2>
        <p>A multi-company online system through which external researchers can request access to anonymized patient - level data from inhouse clinical trials.</p>
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>