@using MultiChainLib;
@using MultiChainLib.Model;
@using Newtonsoft.Json;
@model JsonRpcResponse<List<KeyStream>>

@{
    ViewBag.Title = "Download Results";
}

<h2>Download Results</h2>
<div>
    <h4>Trial Name</h4>    

    @Html.DropDownList(
    "TrialName",
    new SelectList(
        Model.Result.Select(x => new { Value = x.Key, Text = x.Key + " (" + x.Items + ")" }),
        "Value",
        "Text"),
    "All")
</div>
<div id="downloadHist" class="downloadHist">

</div>