@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h3 class="text-warning">Error!!!</h3>
<h3 class="text-warning">An error occurred while processing your request</h3>
<div>
    <h3 class="text-danger">
        <pre class="text-danger">@Html.Raw(@ViewBag.Error)</pre>
    </h3>
</div>

